<header class="header">
    <div class="container not-row">
        <div class="holder">
            <div class="block-logo">
                <img src="/assets/img/logo.png" class="logo-img">
                <div class="logo-text font-x-bold">Suada</div>
            </div>

            <div class="block-main-menu">
                <a href="#" class="item-main-menu font-x-bold">Features</a>
                <a href="#" class="item-main-menu font-x-bold">News</a>
                <a href="#" class="item-main-menu font-x-bold">About</a>
                <a href="#" class="item-main-menu font-x-bold">Support</a>
                <a href="#" class="item-main-menu font-x-bold">Login</a>
                <a href="#" class="item-main-menu btn btn--border">Sign up</a>
            </div>
        </div>
    </div>
</header>