<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="list-links">
                    <div class="title font-x-bold">Key Features</div>
                    <a href="#" class="link">Accessibility</a>
                    <a href="#" class="link">Compatbility</a>
                    <a href="#" class="link">Flexibility</a>
                    <a href="#" class="link">Safety & Security</a>
                </div>
            </div>

            <div class="col-lg-2">
                <div class="list-links">
                    <div class="title font-x-bold">Support</div>
                    <a href="#" class="link">Documentation</a>
                    <a href="#" class="link">FAQs</a>
                    <a href="#" class="link">Live Chat</a>
                    <a href="#" class="link">Contact Us</a>
                </div>
            </div>

            <div class="col-lg-2">
                <div class="list-links">
                    <div class="title font-x-bold">News & Resources</div>
                    <a href="#" class="link">Latest News</a>
                    <a href="#" class="link">Tips & Tricks</a>
                    <a href="#" class="link">About Us</a>
                    <a href="#" class="link">Press Kit</a>
                </div>
            </div>

            <div class="col-lg-2">
                <div class="list-links">
                    <div class="title font-x-bold">Developers</div>
                    <a href="#" class="link">Suada API</a>
                    <a href="#" class="link">Tutorials</a>
                    <a href="#" class="link">Dev Forum</a>
                    <a href="#" class="link">Open Source</a>
                </div>
            </div>

            <div class="col-lg-4">
                <form class="form">
                    <div class="title font-x-bold">Stay in touch with us</div>
                    <div class="field">
                        <input class="input" type="text" placeholder="Weekly newsletter">
                        <input class="btn btn--fill" type="submit" value="Subscribe">
                    </div>
                </form>

                <div class="social-list">
                    <a href="#" class="social-item">
                        <img src="/assets/img/soc-tw.png" alt="">
                    </a>
                    <a href="#" class="social-item">
                        <img src="/assets/img/soc-fb.png" alt="">
                    </a>
                    <a href="#" class="social-item">
                        <img src="/assets/img/soc-g.png" alt="">
                    </a>
                    <a href="#" class="social-item">
                        <img src="/assets/img/soc-inst.png" alt="">
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="block-company">
                    <img src="/assets/img/logo.png" class="logo-img">
                    <div class="box-text">
                        Copyright © 2016 Suada Inc.<br>
                        All rights reserved.
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>