<section class="why-should section-default">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <h2 class="title-section">
                    Why should Suada take <br>
                    care of your day?
                </h2>
            </div>
        </div>

        <div class="row block-why-list">
            <div class="col-lg-3">
                <div class="box-why-item first">
                    <img src="/assets/img/why-1.png" class="img">
                    <div class="title">
                        Humane
                    </div>
                    <div class="description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="box-why-item">
                    <img src="/assets/img/why-2.png" class="img">
                    <div class="title">
                        Safe & Secure
                    </div>
                    <div class="description">
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="box-why-item">
                    <img src="/assets/img/why-3.png" class="img">
                    <div class="title">
                        Flexible
                    </div>
                    <div class="description">
                        Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="box-why-item last">
                    <img src="/assets/img/why-4.png" class="img">
                    <div class="title">
                        Really Fast
                    </div>
                    <div class="description">
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <img src="/assets/img/five-phones.png" class="five-phones" alt="">
</section>