<section class="top-screen">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="part-left">
          <div class="block-content">
            <h1 class="box-text font-light">
              Great tool to make your day much better
            </h1>

            <div class="box-buttons">
              <div class="btn btn--border">Get on ios</div>
              <div class="btn btn--border">get on android</div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-7 offset-lg-1">
        <div class="part-right">
          <img class="two-phones" src="/assets/img/two-phones.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>